name: "Publish to FlakeHub"
on:
  push:
    branches:
      - "main"
defaults:
  run:
    shell: "bash"
env:
  ACTIONS_RUNNER_DEBUG: 1
jobs:
  flakehub-publish:
    runs-on: ["ubuntu-24.04-arm"]
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-push@main
        with:
          rolling: true
          visibility: "public"
          name: "o-az/nixos-config"
          include-output-paths: false
