pane_frames false
session_serialization false
default_shell "fish"
copy_command "pbcopy"
default_layout "compact"
on_force_close "quit"
simplified_ui true
theme "tokyo-night-dark"
default_layout "compact"
mouse_mode true
scroll_buffer_size 100000
styled_underlines false

plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar"
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
      welcome_screen true
  }
  filepicker location="zellij:strider" {
      cwd "/"
  }
}

keybinds {
	unbind "Ctrl o"
    shared_except "session" "locked" {
        bind "Ctrl k" { SwitchToMode "Session"; }
    }
	session {
		bind "Ctrl k" { SwitchToMode "Normal"; }
	}
}
