mouse_mode true
pane_frames false
simplified_ui true
copy_on_select true
default_shell "fish"
on_force_close "quit"
copy_command "pbcopy"
styled_underlines false
default_layout "compact"
theme "catppuccin-mocha"
default_layout "compact"
scroll_buffer_size 100000
session_serialization false

plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar"
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
      welcome_screen true
  }
  filepicker location="zellij:strider" {
      cwd "/"
  }
}

keybinds {
	unbind "Ctrl o"
    shared_except "session" "locked" {
        bind "Ctrl k" { SwitchToMode "Session"; }
    }
	session {
		bind "Ctrl k" { SwitchToMode "Normal"; }
	}
  // https://github.com/Nacho114/harpoon
  shared_except "locked" {
    bind "Ctrl y" {
       LaunchOrFocusPlugin "file:~/.config/zellij/plugins/harpoon.wasm" {
          floating true; move_to_focused_tab true;
      }
    }
  }
}
